<app-exchange-rate-card *ngIf="exchangeRateCard" [data]="exchangeRateCard"></app-exchange-rate-card><br>
<form [formGroup]="form" (ngSubmit)="submit()" class="form-container">
  <mat-form-field appearance="fill">
    <mat-label>Cuenta de Origen</mat-label>
    <mat-select formControlName="sourceAccount">
      <mat-option *ngFor="let cuenta of sourceAccounts" [value]="cuenta.id">
        {{ cuenta.nombre }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="sourceAccountControl.isInvalid">{{sourceAccountControl.message}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Cuenta Destino</mat-label>
    <input matInput formControlName="targetAccount">
    <mat-error *ngIf="targetAccountControl.isInvalid">{{targetAccountControl.message}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Monto</mat-label>
    <input matInput type="number" formControlName="amount">
    <mat-error *ngIf="amountControl.isInvalid">{{amountControl.message}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Correo (Constancia)</mat-label>
    <input matInput type="email" formControlName="email">
    <mat-error *ngIf="emailControl.isInvalid">{{emailControl.message}}</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="isLoading">
    <div class="form-container__submit-button">
      <mat-spinner *ngIf="isLoading" [diameter]="20"></mat-spinner>
      <span>Enviar</span>
    </div>
  </button>
</form>
